
<ion-content [fullscreen] = "true" class = "ion-padding" *ngIf = "qr_data">

	<div>
		<rcc-qr-code [data] = "qr_data"></rcc-qr-code>

		<div *ngIf = "!complete && !error">
			<ion-progress-bar type="indeterminate"></ion-progress-bar>
		</div>

		<!-- <div>
			{{connection.status}}
		</div> -->

		<div *ngIf = "complete" >
			<ion-icon 
				color 	= "success" 
				name 	= "checkmark-circle-outline"
				size	= "large"
			></ion-icon>
			<br/>
			{{'All data transmitted.' | translate}}
		</div>

		<div *ngIf	= "error">
			<ion-icon 
				color 	= "danger" 
				name 	= "alert-circle-outline"
				size	= "large"
			></ion-icon>
			<br/>
			{{ 'Somethig went wrong:' | translate}} {{error}}
		</div>
		
	</div>

	<div class ="spacer"></div>

</ion-content>
