
<ion-content [fullscreen] = "true" class = "ion-padding" *ngIf = "data">

	<div>

		<rcc-qr-code [data] = "data"></rcc-qr-code>

		<div *ngIf = "!complete">
			<ion-progress-bar type="indeterminate"></ion-progress-bar>
		</div>

		<!-- <div>
			{{connection.status}}
		</div> -->

		<div *ngIf = "complete" >
			<ion-icon 
				color 	= "success" 
				name 	= "checkmark-circle-outline"
				size	= "large"
			></ion-icon>
			<br/>
			All data transmitted.
		</div>

		<div *ngIf	= "error">
			<ion-icon 
				color 	= "danger" 
				name 	= "alert-circle-outline"
				size	= "large"
			></ion-icon>
			<br/>
			Somethig went wrong: {{error}}
		</div>
		
	</div>

</ion-content>
<!-- 
<ion-footer class = "ion-no-border">

	<ion-button 
		*ngIf	= "!complete"
		color 	= "primary" 
		expand	= "block"
		(click)	= "dismiss()"	
	>
		Cancel
	</ion-button>

	<ion-button 
		*ngIf	= "error"
		color 	= "primary" 
		expand	= "block"
		(click)	= "retry()"	
	>
		Retry
	</ion-button>

	<ion-button 
		*ngIf	= "error"
		color 	= "medium" 
		expand	= "block"
		(click)	= "dismiss()"	
	>
		Cancel
	</ion-button>

	<ion-button 
		*ngIf	= "complete"
		color 	= "success" 
		expand	= "block"
		(click)	= "dismiss()"	
	>
		Okay
	</ion-button>

</ion-footer>


 -->
