<!-- <ng-container *ngFor	= "let bullet of bullets; index as index; last as last">
	<div 
		*ngIf		= "index != 0"
		class 		= "connector skip"
		[ngClass]	= "{'skip start' : index == 1 && starting_gap, 'skip end':  last && ending_gap, 'passed': index <= activeIndex}"
	>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div 
		class 		= "bullet"
		[ngClass]	= "{'passed' : index < activeIndex, 'active': index == activeIndex}"
		(click)		= "bullet.handler()"
	>
		<div class = "label">{{bullet.label}}</div>
	</div>
</ng-container>

 -->