<ion-header [translucent]="true">
	<ion-toolbar>
		 <ion-buttons slot="start">
			<ion-menu-button>
			</ion-menu-button>
		</ion-buttons>
		<ion-title>
			{{ "QUESTIONAIRE.HEADER" | transloco }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen = "true">
	
	<ion-list *ngFor ="let store of questionaire.stores">

		<ion-list-header>
			{{ "QUESTIONAIRE.STORE.%1" | fill : store.name}}
		</ion-list-header>

		<rcc-question-item 
			*ngFor 		= "let question of store.items"
			[question]	= "question" 
			[store] 	= "store"
		>sss</rcc-question-item>

	</ion-list>

</ion-content>
