<ion-header [translucent]="true">

	<ion-toolbar>
		 <ion-buttons slot="start">
			<ion-menu-button>
			</ion-menu-button>
		</ion-buttons>
		<ion-title
			*ngIf = "!showSearch"
		>
			{{ "QUESTIONAIRE.HEADER" | transloco }}
		</ion-title>
		<ion-searchbar
			*ngIf 			= "showSearch" 
			[formControl] 	= "searchControl">				
		</ion-searchbar>
		<ion-button 
			slot 	= "end"
			(click) = "showSearch = !showSearch"
		>
				<ion-icon>search</ion-icon>
		</ion-button>
	</ion-toolbar>

</ion-header>

<ion-content fullscreen = "true">
	
		<rcc-meta-store 
			[metaStore] = "this.questionaire"
			[filter]	= "this.filterFn"
		>
			<ng-template #itemLabelTemplate let-item = "item">			
				<h3>{{item.translations.en || item.meaning}}</h3>
				<p>			
					{{item.type}}
					{{item.min ? 'min: '+item.min :'' }}
					{{item.min ? 'max: '+item.max :'' }}
					<span *ngFor =" let option of item.options; last as isLast">
						{{option.value}} {{isLast ? '' : ','}}
					</span>	
				</p>							
			</ng-template>
		</rcc-meta-store>

</ion-content>
